
@{
    ViewData["Title"] = "Teşekkürler";
}

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/Img/logo.png" alt="" width="72">
    <h1 class="display-5 fw-bold text-body-emphasis">Teşekkürler</h1>
    <div class="col-lg-6 mx-auto">
        <h3>Siparişiniz Oluşturuldu</h3>
        <p class="lead mb-4">
            Kontroller sağlandıktan sonra en kısa sürede siparişiniz gönderilecektir.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/Account/MyOrders" class="btn btn-primary btn-lg px-4 gap-3">Sipariş Takip</a>
            <a href="/" class="btn btn-outline-secondary btn-lg px-4">Alışverişe Devam Et</a>
        </div>
    </div>
</div>