@model News
@{
    ViewData["Title"] = Model.Name;
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <img src="/Img/@Model.Image" alt="" class="img-fluid" />
    </div>
    <div class="col-md-6">
        <p class="card-text mb-auto">
            @Html.Raw(Model.Description)
        </p>
        <div class="mb-1 text-muted">@Model.CreateDate.ToShortDateString()</div>
    </div>
</div>