
@{
    ViewData["Title"] = "Erişim Engellendi!";
}
<div class="container">
    <h1>Erişim Engellendi!</h1>

    <h5 class="text-danger">
        Ulaşmaya çalıştığınız alana erişim yetkiniz yok!
    </h5>
</div>
