@model Entities.Contact

@{
    ViewData["Title"] = "İletişim";
}

<h1>İletişim</h1>

@Html.Raw(TempData["mesaj"])

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Contact">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div id="sonuc" class="alert alert-info" style="display:none"></div>

@section Scripts{
    <script>
        function iletisim_formu() {
            var ad = $("#Name").val();
            var soyad = $("#Surname").val();
            var email = $("#Email").val();
            var telefon = $("#Phone").val();
            var mesaj = $("#Message").val();

            var message = {
                "Name": ad,
                "Surname": soyad,
                "Email": email,
                "Phone": telefon,
                "Message": mesaj
            };

            $.ajax({
                method: "POST",
                url: "/Home/Contact",
                type: "json",
                data: message,
                success: function (data) {
                    document.getElementById("iletisim_formu").reset();
                    $("#sonuc").show().html("Mesajınız Başarıyla Gönderilmiştir!").delay("5000").fadeOut();
                },
                error: function (err) {
                    $("#sonuc").show().removeClass("alert-info").addClass("alert-danger").html("Hata Oluştu! Mesajınız Gönderilemedi!").delay("10000").fadeOut();
                }
            });
        }
    </script>
 }