@model News

<div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">@Model.Name</h3>
            <div class="mb-1 text-muted">@Model.CreateDate.ToShortDateString()</div>
            <p class="card-text mb-auto">
                @Model.Description
            </p>
            <a asp-controller="News" asp-action="Detail" asp-route-id="@Model.Id" class="stretched-link">Devamını Oku..</a>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img src="/Img/@Model.Image" alt="" class="bd-placeholder-img" width="200" />
        </div>
    </div>
</div>