@model Contact

@{
    ViewData["Title"] = "İletişim";
}

<h1>İletişim</h1>

@Html.Raw(TempData["mesaj"])

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="ContactUs" id="iletisimFormu">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="button" value="Gönder" class="btn btn-primary" onclick="mesajGonder()" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div>
            Adres : Ataşehir / İstanbul
        </div>
        <div>
            Email : info@siteadi.com
        </div>
        <div>
            Telefon : 0216 444 44 44
        </div>
    </div>
    <div class="col-md-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12046.998379290095!2d29.131915699999993!3d40.986963700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac8a7d44b6587%3A0x208a1d8ff0bf7e10!2zQXRhxZ9laGlyLCBLw7zDp8O8a2Jha2thbGvDtnksIDM0NzU4IER1ZHVsbHUgT3NiL0F0YcWfZWhpci_EsHN0YW5idWw!5e0!3m2!1str!2str!4v1669579462393!5m2!1str!2str" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

<div id="sonuc" class="alert alert-info" style="display:none"></div>

@section Scripts{
    <script>
        function mesajGonder() {
            var ad = $("#Name").val();
            var soyad = $("#Surname").val();
            var email = $("#Email").val();
            var telefon = $("#Phone").val();
            var mesaj = $("#Message").val();

            if (ad == "" || soyad == "" || mesaj == "") {
                alert("Ad, Soyad, Mesaj alanları gereklidir!")
                return false;
            }

            var message = {
                "Name": ad,
                "Surname": soyad,
                "Email": email,
                "Phone": telefon,
                "Message": mesaj
            };

            $.ajax({
                method: "POST",
                url: "/Home/Contact",
                type: "json",
                data: message,
                success: function (data) {
                    console.log(data);
                    document.getElementById("iletisimFormu").reset();
                    $("#sonuc").show().html("Sayın " + data.name + " " + data.surname + " Mesajınız Başarıyla Gönderilmiştir!").delay("5000").fadeOut();
                },
                error: function (err) {
                    $("#sonuc").show().removeClass("alert-info").addClass("alert-danger").html("Hata Oluştu! Mesajınız Gönderilemedi!").delay("10000").fadeOut();
                }
            });
        }
    </script>
 }