<ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Admin/">
                                <i class="bi bi-house-door"></i>
                                Ana Ekran
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Brands">
                                <i class="bi bi-book"></i>
                                Markalar
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Categories">
                                <i class="bi bi-hospital"></i>
                                Kategoriler
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/News">
                                <i class="bi bi-people"></i>
                                Haberler
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Posts">
                                <i class="bi bi-calendar-date"></i>
                                İçerikler
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/AppUsers">
                                <i class="bi bi-people-fill"></i>
                                Kullanıcılar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Products">
                                <i class="bi bi-collection"></i>
                                Ürünler
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Sliders">
                                <i class="bi bi-images"></i>
                                Slider Yönetimi
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Contacts">
                                <i class="bi bi-chat-dots"></i>
                                İletişim Talepleri
                            </a>
                        </li>
                    </ul>