<ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Admin/">
                                <i class="bi bi-house-door"></i>
                                API Admin Menü
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/APIBrands">
                                <i class="bi bi-book"></i>
                                Markalar
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/APICategories">
                                <i class="bi bi-hospital"></i>
                                Kategoriler
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/APINews">
                                <i class="bi bi-people"></i>
                                Haberler
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/APIPosts">
                                <i class="bi bi-calendar-date"></i>
                                İçerikler
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/APIAppUsers">
                                <i class="bi bi-people-fill"></i>
                                Kullanıcılar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/APIProducts">
                                <i class="bi bi-collection"></i>
                                Ürünler
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/APISliders">
                                <i class="bi bi-images"></i>
                                Slider Yönetimi
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/APIContacts">
                                <i class="bi bi-chat-dots"></i>
                                İletişim Talepleri
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/" target="_blank">
                                <i class="bi bi-search"></i>
                                Siteyi Gör
                            </a>
                        </li>
                    </ul>